.hotel-list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: 10px;
  background-color: #fffcfc;
}

.hotel {
  width: 80%;
  height: 250px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  border: 1px solid #ccc;
  border-radius: 20px;
  justify-content: space-around;
}

.hotel-booking {
  flex: 1;
  padding: 10px;
}

.mat-tab-body-content {
  margin-top: 10px;
}

.photo {
  margin-bottom: 10px;
}

.photo img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
