<div *ngFor="let hotel of hotels" class="hotel-list">
  <mat-card class="hotel">

    <div style="width: 45%">
      <img [src]="hotel.images[0].url" style="width: 370px; border-radius: 1.25rem;" />
    </div>
    <div style="width: 35%" class="hotel-info">
      <h3>{{ hotel.name }}</h3>
      <p>
        <strong>{{ hotel.distanceFromCity }}</strong> from city center
      </p>
       <mat-tab-group>
        <mat-tab label="Description">
          <div class="description">
            <h4>Description</h4>
            <p>{{ hotel.description }}</p>
          </div>
        </mat-tab>
        <mat-tab label="Photos">
          <div class="photos">
            <h4>Photos</h4>
            <div *ngFor="let photo of hotel.images" class="photo">
              <img [src]="photo.url" alt="Hotel Photo" />
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    
    <div style="width: 20%" class="hotel-booking">
      <p><strong>Price:</strong> {{ hotel.price }}</p>
    </div>
  </mat-card>
</div>
