mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.submit {
  width: 100%;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: calc(100% - 12vh);
  overflow-y: auto;
  padding-top: 4.6875rem;
  padding-bottom: 4.6875rem;
}

.customer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  margin-bottom: -1.25em;
}
