.footer {
  padding: 20px 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  flex-direction: column;
  background-color: rgb(34, 35, 35) !important;
  position: fixed;
  bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
  z-index: 10;
}

.pmd-site-info {
  color: rgb(255, 255, 255) !important;
  font-size: 14px;
  margin: 0;
  text-align: center !important;
  box-sizing: border-box;
  padding-right: 20px;
}
