.location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;

  .location-image-container {
    width: 95vw;
    display: flex;
    overflow: auto;
    scroll-snap-type:x mandatory;
  }

  .location-image {
    height: 40vh;
    padding: 0px 2px 0px 2px;
    flex-shrink: 1.5;
    scroll-snap-align: start;
  }

  .location-details {
    margin-top: 20px;

    .location-title {
      font-size: 24px;
      font-weight: bold;
    }

    .location-info {
      margin-top: 20px;
      /* Styles for city, state, and Google Map location */
    }

    .table-padding {
      padding-top: 30px;
      padding-bottom: 10px;
    }

    .mat-column-key {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 18% !important;
      width: 18% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }

    .mat-column-value {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 78% !important;
      width: 78% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }

    .mat-mdc-row .mat-mdc-cell {
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
    }

    .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
      color: green;
    }
    .mat-mdc-tab.mdc-tab--active:hover .mdc-tab__text-label {
      color: green;
    }
    .mat-mdc-tab:hover .mdc-tab__text-label {
      color: green;
    }

    .mat-mdc-tab .mdc-tab__text-label {
      color: green;
    }

    .mat-mdc-tab {
      background-color: #fff;
    }
    .mat-mdc-tab.mdc-tab-indicator.mdc-tab-indicator__content
      .mdc-tab-indicator__content--underline {
      border-bottom: 2px solid green;
    }
  }
}
