<div class="location" *ngIf="locationDetails">
  <div class="location-image">
    <img
      width="90%"
      [src]="locationDetails.images[0].url"
      
    />
  </div>
  <div class="location-details">
    <h2 class="location-title">{{ locationDetails.area }}</h2>
    <mat-tab-group style="width: 50vw;">
      <mat-tab label="Overview">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z0 table-padding">
        
          <ng-container matColumnDef="key">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.key}} </mat-cell>
          </ng-container>
        
      
          <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.value}} </mat-cell>
          </ng-container>
        
         
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-tab>
      <mat-tab label="Activities">
        <!-- Activities content -->
      </mat-tab>

      <!-- Add more tabs as needed -->
    </mat-tab-group>
    <div class="location-info">
      <!-- City, state, and Google Map location -->
    </div>
  </div>
</div>
