<div class="container">
  <div class="places">
    <mat-card
      class="home-card"
      [ngClass]="
        showCardGrid ? 'home-card-half-height' : 'home-card-full-height'
      "
    >
      <mat-form-field style="width: 40rem">
        <mat-label>Where To?</mat-label>
        <mat-select
          [(ngModel)]="selectedCategory"
          (ngModelChange)="getLocations(selectedCategory)"
          panelClass="dropDown-overlay"
        >
          <mat-option *ngFor="let category of categories" [value]="category">
            {{ category.categoryName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="selectedCategory" class="catergory-desc">
        <p>&nbsp;&nbsp;{{ selectedCategory.description }}&nbsp;&nbsp;</p>
      </div>
    </mat-card>
  </div>
  <div class="grid-card" *ngIf="showCardGrid">
    <mat-grid-list cols="3" rowHeight="1.5:1" gutterSize=".9375rem">
      <mat-grid-tile
        *ngFor="let location of locations"
        style="background-image: url('{{ location.images[0].url }}')"
        class="grid-tile"
      >
        <div class="overlay"></div>

        <div
          class="overlay-text-area"
          routerLink="{{ '/location/' + location._id }}"
          routerLinkActive="active"
        >
          {{ location.area }}
        </div>
        <mat-grid-tile-footer>
          <div class="overlay-text-desc">
            {{ location.description }}
          </div>
          <p
            style="text-decoration: underline; cursor: pointer"
            routerLink="{{ '/location/' + location._id }}"
            routerLinkActive="active"
          >
            Read&nbsp;More
          </p>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
