.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.places {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-grid-tile {
  background: lightblue;
}

.grid-card {
  width: 100%;
}

.grid-tile {
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
 
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.overlay-text-area {
  color: white;
  z-index: 2;
  font-size: 2rem;
  font-weight: 400;
}

.overlay-text-area:hover {
  cursor: pointer;
}

.overlay-text-desc {
  color: #c2c2c2;
  font-size: 1rem;
  font-weight: 200;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
