<div class="container">
  <div class="places">
    <div style="padding-bottom: 0.625rem">Select a Place to Explore</div>

    <mat-form-field appearance="fill" style="width: 25rem">
      <mat-label>Places</mat-label>
      <mat-select
        [(ngModel)]="selectedCategory"
        (ngModelChange)="getLocations(selectedCategory)"
      >
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category.categoryName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="selectedCategory">
      <p>{{ selectedCategory.description }}</p>
    </div>
  </div>
  <div class="grid-card" *ngIf="showCardGrid">
    <mat-grid-list cols="3" rowHeight="1.5:1" gutterSize=".9375rem">
      <mat-grid-tile
        *ngFor="let location of locations"
        style="background-image: url('{{ location.images[0].url }}')"
        class="grid-tile"
      >
        <div class="overlay"></div>
        <div class="overlay-text">{{ location.area }}</div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
