<div class="container">
  <h1>Welcome to our Tourism App!</h1>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Select a Place to Explore</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Places</mat-label>
        <mat-select [(ngModel)]="selectedPlace">
          <mat-option *ngFor="let place of places" [value]="place">
            {{ place }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="selectedPlace">
        <h3>{{ selectedPlace }}</h3>
        <p>{{ getDescription(selectedPlace) }}</p>
      </div>
    </mat-card-content>
  </mat-card>

</div>

<!-- <div class="home-page">
  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your <i>Angular</i> knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ active: listConfig.type === 'feed' }"
                (click)="setListTo('feed')"
              >
                Your Feed
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{
                  active: listConfig.type === 'all' && !listConfig.filters.tag
                }"
                (click)="setListTo('all')"
              >
                Global Feed
              </a>
            </li>
            <li class="nav-item" [hidden]="!listConfig.filters.tag">
              <a class="nav-link active">
                <i class="ion-pound"></i> {{ listConfig.filters.tag }}
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a
              *ngFor="let tag of tags; trackBy: trackByFn"
              (click)="setListTo('all', { tag: tag })"
              class="tag-default tag-pill"
            >
              {{ tag }}
            </a>
          </div>

          <div [hidden]="tagsLoaded">Loading tags...</div>

          <div [hidden]="!tagsLoaded || tags.length > 0">
            No tags are here... yet.
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
