<mat-toolbar class="toolbar">
  <div class="toolbar-space"></div>

  <a routerLink="/"><span>Xplorit</span></a>
  <span class="example-spacer"></span>
  <div class="nav-right">
    <div *appShowAuthed="false">
      <a routerLink="/"> Home </a>
      <a routerLink="/login" routerLinkActive="active"> Login </a>
      <a
        routerLink="/register"
        routerLinkActive="active"
        style="text-decoration: none"
      >
        Register
      </a>
    </div>
    <div *appShowAuthed="true">
      <a routerLink="/"> Home </a>
    </div>
  </div>
  <div class="toolbar-space"></div>
</mat-toolbar>

<!-- <nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">conduit</a>

    
    <ul *appShowAuthed="false"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/login"
          routerLinkActive="active">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/register"
          routerLinkActive="active">
          Sign up
        </a>
      </li>

    </ul>

  
    <ul *appShowAuthed="true"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/editor"
          routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/settings"
          routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img [src]="currentUser.image || 'https://static.productionready.io/images/smiley-cyrus.jpg'" *ngIf="currentUser.image" class="user-pic" alt="user image" />
          {{ currentUser.username }}
        </a>
      </li>

    </ul>

  </div>
</nav> -->
