$primary-color: rgb(245, 249, 249);
$secondary-color: #303030;
$text-color: #070404;

.toolbar {
  background-color: $primary-color;
  color: $text-color;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0px;
  z-index: 10;

  a {
    color: $text-color;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    font-family: cursive;
    padding: 4px;

    &:hover {
      color: darken($text-color, 20%);
      box-shadow: inset 120px 0 0 0 #d7fbfb;
      border-radius: 20px;
      padding: 4px;
    }

    &.active {
      color: darken($text-color, 30%);
      padding: 4px;
    }
  }

  .nav-right {
    margin-left: auto;
  }
}

.example-spacer {
  flex-grow: 1;
}

.toolbar-space {
  width: 20px;
}
