<mat-toolbar class="toolbar">
  <div class="toolbar-space"></div>

  <a routerLink="/"
    ><span style="font-family: Verdana, Geneva, Tahoma, sans-serif"
      >Xplorit</span
    ></a
  >
  <span class="example-spacer"></span>
  <div class="nav-right" *appShowAuthed="false">
    <a routerLink="/"> Home </a>
    <a routerLink="/login" routerLinkActive="active"> Login </a>
    <a
      routerLink="/register"
      routerLinkActive="active"
      style="text-decoration: none"
    >
      Register
    </a>
  </div>
  <div class="nav-right" *appShowAuthed="true">
    <a routerLink="/"> Home </a>
  </div>
  <div class="toolbar-space"></div>
</mat-toolbar>
