$primary-color: #0ccdcd;
$secondary-color: #303030;
$text-color: #070404;

.toolbar {
  background-color: $primary-color;
  color: $text-color;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;

  a {
    color: $text-color;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    font-family: cursive;

    &:hover {
      color: darken($text-color, 20%);
      box-shadow: inset 120px 0 0 0 #d7fbfb;
      border-radius: 20px;
      padding: 6px;
    }

    &.active {
      color: darken($text-color, 30%);
    }
  }

  .nav-right {
    margin-left: auto;
  }
}

.example-spacer {
  flex-grow: 1;
}

.toolbar-space {
  width: 20px;
}

// .example-spacer {
//   flex: 1 1 auto;
// }

// .nav-right {
//   display: flex;
//   flex-direction: row;
//   gap: 15px;
// }

// .toolbar {
//   display: flex;
//   background-color: rgb(186, 200, 242);
//   justify-content: space-around;
//   top: 0px;
// }

// .toolbar-space {
//   flex: 0.02;
// }

// a {
//   text-decoration: none;
//   color: black;
// }
